<!--Layout-->
<div class="container">
    <nav class="navbar navbar-expand-sm bg-dark justify-content-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Home">Home Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Students">Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Movies">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Github">Github</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Nobel">Nobel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/Product">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"></a>
            </li>
            
        </ul>
    </nav>
    <!--RenderBody()-->
    <router-outlet></router-outlet>
</div>

<!--Angular Expression Syntax-->
<!--Angular Interpolation Syntax-->
<!-- <strong>{{5+6}}</strong>
<div>{{2>3 ? "Kalimera" : "kalinixta"}}</div>
<div>{{name}}</div>
<div>{{salary}}</div>
<div>{{print()}}</div> -->
<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-6">
           Different State-->
            <!-- <app-movie></app-movie>
        </div>
        <div class="col-6">
            <!-- <app-movie></app-movie> -->
